#root {
  text-align: center;
}

a.link {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.background {
  background: url(../../assets/techy-wallpaper.jpg) no-repeat center center/cover;
}

.content {
  background-color: rgba(0, 0, 0, 0.5);
}