.item-card {
  color: white;
  width: 200px;
  height: 300px;
  background-color: rgb(22, 22, 22);
  border-radius: 16px;
}

.item-image {
  width: 175px;
}

.item-card:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}