/*
.background {
  background: rgb(29, 29, 29);
}

.content {
  background-color: rgb(24, 24, 24) ;
}
*/

.item-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

