.background {
  min-width: 100vw;
  min-height: 100vh;
  background: url(../assets/techy-wallpaper.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5); 
}