.cart-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 28px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 200px;
  width: 300px;
}

.product-image {
  display: flex;
  flex-grow: 0;
  height: 200px;
}